/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 10px auto;
  height: 200px;
  width: auto
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(24, 9, 42);
}
header{
  width: 100%;  
  padding: 1.3em;
  text-align: center;
  background-color: rgb(15, 23, 35);
}
input{
  width:40%;
}
button{
  margin-top: 1em;
  background-color: rgb(33, 47, 69);
  border: 2px solid gold;
  padding: 10px;
  color: rgb(216, 176, 0);
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 300;
  font-size: .8rem;
}
h1,h2,h3,h4,p {
  color: rgb(216, 176, 0);
  margin:0;
  font-family: 'Tapestry', cursive;
}
h1{
  margin: 1em 0;
}
h3{
  text-align: justify;
  font-family: 'Merriweather', serif;
  font-size: 1rem;
}
h4{
  font-size: 2rem;
}
p{
  color: rgb(182, 149, 0);
  font-family: 'Merriweather', serif;
  font-style: italic;
  font-weight: 300;
  font-size: .8rem;
}
section{
  width: 100%;
  margin-top: 3em;
  padding: 1.5em 5em;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(15, 23, 35);
}